doctype html
html
  head
    title faishal dance academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/3.png")
                | HDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact Us]
            li #[a(href="/") Class Info]
    block content
    footer#footer
      | Copyright € 2021 FaishalDanceAcademy.com | All right reserved
      