h1{
    text-align: center;
}
.container{
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 75px;
}
.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.myInput{
    width: 233px;
    margin: 10px;
    border-radius: 3px;

    
}
.btn{
    padding: 1px 8px;
    margin: 10px 10px;
    color: white;
    background-color: black;
    border-radius: 4px;
    cursor: pointer;
}